* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    font-family: 'Roboto', serif;
    background-color: transparent;
}
.navbar.navbar-expand-lg.fixed-top .nav-link {
    background-color: transparent;
    color: white;
}
.navbar.colored {
    background-color: #00ffff !important;
}
.navbar.colored .nav-link {
    color: black !important;
}
.carousel-inner img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.card-header {
    display: flex;
    height: 50px;
}
.card-body{
    background-color: black;
}
.mi-contenedor h2{
    padding-top: 20px;
    padding-bottom: 30px;
}
.row {
    margin-top: 20px;
}
.card-body-2{
    font-family: 'Roboto', serif;
    background-color: #00ffff;
}

h2 , h5 {
    font-family: 'Roboto', serif;
    color: white;
    text-align: center;
}
p{
    font-family: 'Roboto', serif;
    color: white;
}

/* Estilos para animar el movimiento horizontal del avión en tarjeta */
#avion {
    position: relative;
    animation-name: moverHorizontal;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 2em;
}
@keyframes moverHorizontal {
    0% {
        left: 0;
    }
    100% {
        left: calc(100% - 30px);
        opacity: 0.2;
    }
}

/* Estilos para animar el movimiento de sacudir montañas en tarjeta */
#montanas {
    transform-origin: center;
    animation: moverMontanas 30s linear infinite, parallax 10s infinite;
    font-size: 2em;
}
@keyframes moverMontanas {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes parallax {
    0%, 100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.6);
    }
}

/* Estilos para animar el movimiento de intermitencia en tarjetas */
#ruta {
    animation: flashEffect 1.2s linear infinite;
    font-size: 2em;
}
@keyframes flashEffect {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Estilos para animar el movimiento de los botones de Redes Sociales */
.social-icons a {
    transition: transform 0.2s ease-in-out;
    display: inline-block;
}
.social-icons a:hover {
    transform: scale(2.5);
}

/* Estilos para animar el movimiento de los boton enviar del Formulario */
#botonenviar {
    transition: transform 0.2s ease-in-out;
}
#botonenviar:hover {
    transform: scale(1.1);
    color: black;
}

/* Estilos para animar y girar SVG */
#mi-navbar .navbar-brand img {
    animation: rotateAnimation 5s infinite linear;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Estilos para animar el movimiento de los boton enviar del Formulario */
#inicio, #quienes, #contact, #destaca {
    transition: transform 0.2s ease-in-out;
}
#inicio:hover , #destaca:hover ,#quienes:hover, #contact:hover{
    transform: scale(1.2);
    color: chartreuse;
}
